$code-inline-bg: #f7f7f5;
$gray-200: #e9ecef;
$gray-500: #adb5bd;
$gray-800: #343a40;
$font-family-monospace: Monaco,Menlo,"Microsoft YaHei Mono",Consolas,"Courier New",monospace,sans-serif;
$code-bg: #2e3e4e;
